@font-face {
  font-family: 'Avenir';
  src: url('https://fonts.cdnfonts.com/s/12852/Avenir-Next-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

.project-header {
  font-family: 'Avenir', sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.project-title{
  font-family: 'Avenir', sans-serif;
  font-size: 50px;
  font-weight: bold;
}