:root{
    --primary-color: #0063d4;
    --secondary-color: #f2f5f7;
    --tertiary-color: #318bf1;
}

@font-face {
    font-family: 'Avenir';
    src: url('https://fonts.cdnfonts.com/s/12852/Avenir-Next-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

.page-view{
    padding: 0;
}

.project-header {
    font-family: 'Avenir', sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.project-title {
    font-family: 'Avenir', sans-serif;
    font-size: 50px;
    font-weight: bold;
}

.company-logo{
    padding: 1em 0px;
    width: 100%;
    justify-content: center;
    background: var(--tertiary-color);
}

.default-btn {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    --lumo-clickable-cursor: pointer;
    cursor: var(--lumo-clickable-cursor);
}


