:root {
    --primary-color: #0063d4;
    --secondary-color: #f3f5f7;
    --tertiary-color: #e5f0ff;
    --forth-color: #e8ecef;
    --fifth-color: #afc6e9;
    --delete-color: #DE062DFF;
    --lumo-clickable-cursor: pointer;
}

@font-face {
    font-family: 'Avenir';
    src: url('https://fonts.cdnfonts.com/s/12852/Avenir-Next-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

.page-view {
    padding: 0;
}

.project-header {
    font-family: 'Avenir', sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.project-title {
    font-family: 'Avenir', sans-serif;
    font-size: 50px;
    font-weight: bold;
}

.company-logo {
    padding: 1em 0px;
    width: 100%;
    justify-content: center;
    background: var(--tertiary-color);
}

.default-btn {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    cursor: var(--lumo-clickable-cursor);
}

.delete-btn{
    background-color: var(--delete-color);
    color: var(--secondary-color);
    cursor: var(--lumo-clickable-cursor);
}

.job-box{
    border: 0px solid var(--secondary-color);
    border-radius: 30px;
    background-color: var(--secondary-color);
    padding: 1em;
}

.navbar{
    display: flex;
}

.navbar-btn{
    background: transparent;
}

.toggle{
    color: var(--primary-color);
}

.custom-header{
    align-items: center;
    justify-content: space-between;
}

.filter-layout{
    align-items: center;
}

#apply-filter-btn{
    align-self: end;
}

.bracket{
    height: 100%;
    background: transparent;
}

vaadin-button vaadin-icon{
    width: 1.2em;
    padding: 0;
}

vaadin-accordion{
    margin-top: .5em;
    background-color: var(--tertiary-color);
    width: 100%;
}

vaadin-accordion-panel{
    padding: .2em 1em;
}

button{
    cursor: var(--lumo-clickable-cursor);
}

.clickable{
    cursor: var(--lumo-clickable-cursor);
}

vaadin-drawer-toggle::part(icon)::before{
    height: 30px;
    width: 30px;
}

.itemBox-layout{
    border: solid var(--fifth-color) 3px;
    border-radius: 10px;
    cursor: var(--lumo-clickable-cursor);
}

.itemBox-layout:hover{
    border-color: var(--primary-color);
}

.default-card {
    border: solid var(--fifth-color) 0px;
    border-radius: 10px;
    padding: 1px 6px;
    background: var(--fifth-color);
    align-items: center;
}

.key-vertical {
    padding: 0;
    width: 100%;
}

.key-btn {
    margin: 0;
    padding: 0;
    height: 20px;
    width: 20px;
    background: var(--fifth-color);
    cursor: var(--lumo-clickable-cursor);
}

.key-label {
    font-weight: bold;
    color: var(--primary-color);
}

.key-label-main{
    font-size: small;
    color: var(--primary-color);
}

.form-label {
    color: var(--lumo-secondary-text-color);
    font-weight: 500;
    font-size: var(--lumo-font-size-s);
    margin-left: calc(var(--lumo-border-radius-m) / 4);
    line-height: 1;
    padding-right: 1em;
    padding-bottom: 0.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
}

.remove-Vaadin{
    margin: 0;
    padding: 0;
}

.cards {
    max-width: 100%;
    flex-wrap: wrap;
}

vaadin-grid::part(body-cell){
    min-height: 7em;
    background-color: rgba(255, 255, 255, .25);
    cursor: var(--lumo-clickable-cursor);
}

vaadin-grid-cell-content{
    cursor: var(--lumo-clickable-cursor);
}

vaadin-grid::part(row):hover{
    background-color: var(--tertiary-color);
}

vaadin-grid::part(first-column-cell){
    font-weight: bold;
}

vaadin-text-field::part(input-field){
    border: none;
}

@media only screen and (max-width: 800px) {

    .toggle{
        display: block;
    }

    .navbar{
        display: none;
    }
}


